:root {
  --font-name: 'IBM Plex Mono', monospace;
  --font-size: 16px;
  --line-height: 1.5;
  --cell-width: 1ch;
  --cell-height: calc(var(--font-size) * var(--line-height));
  --max-width: 900px;
  --border-size: 1px;

  --img-max-height: round(down, 90vh, var(--cell-height));

  --ease-in: .3s;
  --ease-out: .9s;
  --link-color: blueviolet;
}

html,
body {
  width: 100vw;
  background-color:white;
  font-family: var(--font-name);
  font-size: var(--font-size);
  line-height: var(--line-height);
  overflow-x: hidden;
  cursor: crosshair;
}

.sizer {
  max-width: var(--max-width);
  margin: 0 auto;
}

.main {
  width: round(down, 100%, 1ch);
  min-height: 100vh;
  border-left: var(--border-size) solid black;
  padding-bottom: calc(3 * var(--cell-height));
}

.header {
  width: 120vw;
  line-height: 1;
  margin-left: calc(-60vw + 50%);
  padding-left: calc(60vw - 50% + 2ch);
  padding-top: round(down, 8vh, 1ch);
  padding-bottom: 2ch;
  border-bottom: var(--border-size) solid black;
  transition: color ease-out var(--ease-out);
}

.header:hover {
  color: var(--link-color);
  transition: color ease-in var(--ease-in);
}

.content {
  width: calc(100% + var(--border-size));
  position: relative;
  padding: 2ch;
}

.grid {
  display: grid; 
  position: absolute;
  top: 2ch;
  left: 0;
  grid-template-rows: repeat(auto-fill, var(--cell-height));
  grid-template-columns: repeat(auto-fill, var(--cell-width));
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.date {
  padding-bottom: calc(var(--cell-height) * 2);
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size);
  padding-top: var(--cell-height);
}

p {
  min-height: 0;
  padding-bottom: var(--cell-height);
  text-align: justify;
}


/*--- IMAGES ---*/
img {
  max-height: var(--img-max-height);
}

p:has(.img-wrap) {
  font-size: 0;
  line-height: 0;
}

.img-wrap {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.img-wrap__cap {
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.img-wrap__cap::after {
  content: attr(data-cap);
  bottom: 0;
  right: 0;
}


hr {
  all: unset;
  display: block;
  width: calc(2ch + 100%);
  height: var(--border-size);
  margin: -2ch;
  margin-block: calc((var(--line-height) * var(--font-size) - var(--border-size)) / 2);
  background-color: black;
}

ul {
  all: unset;
  list-style-type: none;
}

ul:has(li img) {
  max-width: 100%;
  max-height: var(--img-max-height);
  display: flex;
  gap: 1ch;
  padding: var(--cell-height) 0;
}

a {
  all: unset;
  text-decoration-line: underline;
  transition: color ease-out var(--ease-out);
}

a:hover {
  cursor: crosshair;
  color: var(--link-color);
  transition: color ease-in var(--ease-in);
}

hr p img {
  padding-top: var(--cell-height);
}

@media (max-width: 900px) {
  .main {
    border: none;
  }

  hr {
    width: 100vw;
  }
}

